/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
/* 
.fixed-nav{
 position: fixed;
 top: 0px;
 width:100%;
}
*/
.contentbox{
  margin-top :5%;
} 

a {
  color: #00B7FF;
}

.navcolor{
  background-color: rgba(138, 203, 219, 0.952);
}
Body{
  background-color: aliceblue;
}

.myform{
  padding-top:2%;
}
.grid-container{
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 3fr 5fr 2fr;
/* display:flex;
flex-direction: row; */
margin:1.5%;
}

#cardone, #cardtwo, #cardthree {
  border: 1px solid #ccc;
  background-color:white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius:10px;
  margin:5px;
  padding:2%;
}

.cardtitle{
  justify-content: center;
  display:flex;

}

.cardfooter{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:10px;
}

.cfoot{
  justify-content: center;
}

/* .item3{
  grid-area:2/1/3/2;
} */