<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter Clone</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="./javascript/tweetuimain.js"></script>
 
</head>
<body ng-app="TweetCloneUI">
  <div ng-controller="tweethandle">
    <!-- <input type="text" id="txtinput" ng-model="InputText" placeholder="Enter your name"/>
    <br/>
    <br/>
    <h1>Hello {{InputText}}</h1> -->
    <div>
        <form>
            <input type="text" placeholder="Your Name" id="createdBy" ng-model="CreatedBy"/>
            <br/>
            <textarea rows=5 cols=10 placeholder="Your tweet" id="tweetText" ng-model="TweetText"></textarea>
            <br/>
            <button type="submit">Post</button>
            <br/>
        </form>
    </div>
    <div id="TweetPost">

    </div>

  </div>
  
</body>
</html>
